.nftList-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
}

.nft-img {
  width: 100%;
}

img {
  width: 10rem;
  height: 12.5rem;
  margin-right: 1rem;
}

.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
}

input[type='checkbox']:checked + img {
  box-sizing: border-box;
  border: 8px solid #2f4f4f;
}

input[type='checkbox']:checked:hover + img {
  border: 8px solid #428b8b;
}
