.input-section {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea:nth-of-type(1) {
  margin: 0.2rem 0 2rem;
  width: 100%;
}

input,
select {
  display: block;
  padding: 0.5rem 0.25rem;
}

input {
  width: calc(100% - 12px);
}
