.mainPage {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 3rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  max-width: 20%;
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  background: transparent;
  border-radius: 5px;
}
