.nftList-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
}

.nft-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nft-list-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft-list-banner-input {
  display: flex;
  align-items: center;
}

.nft-list-banner-input input {
  margin: 0;
}

.nft-list-banner-input button {
  border: 1px solid transparent;
  padding: 0;
  margin: 0 0 0 0.5rem;
}

.nft-list-banner-input button img {
  width: 2rem;
}

.nft-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow: hidden;
}

.nft-item label img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  vertical-align: middle;
}

.nft-item {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.nft-item .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

input[type='checkbox']:checked + img {
  box-sizing: border-box;
  border: 8px solid #2f4f4f;
}

input[type='checkbox']:checked:hover + img {
  border: 8px solid #428b8b;
}

.showMore {
  margin: 0 auto;
}

.showMore button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #222;
}

.showMore button:hover {
  background-color: #222;
  color: #fff;
}
